<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <main style="height: 100vh; width: 100vw; background-color: #212121; color: aliceblue;">
            <h1 style="text-align: center;"> Some Error's are occured !!! </h1>
            <br>
            <br>
            <h1 style="text-align: center;">🥶🤒</h1>
            <br>
            <br>
             <% if(data) { %>
            <h1 style="text-align: center;"><%= data %></h1>
            <% } %>
    </main>
</body>
</html>