<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No of Users</title>
    <style>
    </style>
</head>
<body style="background-color: #212121;">
    <h1 style="text-align: center; color: white;"> No. Of Users is : <%= data %></h1>
</body>
</html>